#services,
#acoustics,
#gallery {
    /* margin-top: 12%; */
}

#gallery {
    padding: 10px 25px;
}

#gallery h2 {
    text-align: center;
}

#features_slide {
    margin-top: 50px;
}

.prod_titles {
    margin: 0px 0 10px;
}